.containerCallWaiter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 16px;
}

.buttonCall {
    border: none;
    width: 100%;
    height: 32px;
    background-color: #fff;
    border: #fe0000 1px solid;
    color: #fe0000;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0px 8px 0px 0px;
    border-radius: 8px;
}

