
.input {
  box-sizing: border-box;
  width: 239.64px;
  height: 31.95px;
  background: #F5F5F5;
  border: 1.14114px solid #F32424;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.input:focus {
  outline: none;
}

.error {
  font-family: 'Arial';
  color: #F32424;
  order: 3;
  font-size: 12px;
}




