
.input {
  box-sizing: border-box;
  width: 239.64px;
  height: 31.95px;
  background: #F5F5F5;
  border: 1.14114px solid #F32424;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.input:focus {
  outline: none;
}

.error {
  width: 207px;
  height: 12px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 9.95072px;
  line-height: 12px;
  /* identical to box height */
  color: #F32424;
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}




