.containerInputSearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 8px 0px 0px;
  gap: 8px;
  width: 366px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: solid 1px #000000;
  color: #000000;
  border-radius: 40px;
}

.input {
  width: 318px;
  height: 24px;
  border: none;
  color: #000000;
  padding: 8px;
}

.input:focus {
  outline: none;
}

.search {
  color: #000000;
}

.error {
  font-family: "Arial";
  color: #f32424;
  order: 3;
  font-size: 12px;
}
