.containerNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 42px;
    position: relative;
    width: 100%;
    height: 56px;
}

.containerMenuBrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 70%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerTableWaiter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 56px;
}