.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 366px;
  height: 160px;  
  flex: none;
  order: 3;
  flex-grow: 0;
  background-color: rebeccapurple;
}
