.container {
  width: 108px;
  height: 157px; 
  display: flex;
  flex-direction: column;
  padding: 0px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(150, 150, 150, 0.9);
}

.img {
 width: 100%; 
}

.title {
  margin-top: 4px;
  font-size: 12px;
}


