
.container {
  width: 80%;
  height: 10rem; 
  display: flex;
  flex-direction: column;
  padding: 0px;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(150, 150, 150, 0.9);
  z-index: 2;
}

.img {
 width: 100%; 
}

.title {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}