$color-primary: #fff;
$color-secondary: #000;
$color-terciary: #fe0000;
$color-four: rgb(128, 128, 128);
$color-five: #29d955;
$font-family-primary: 'Lato', sans-serif;
$font-size-primary: 1rem;
$font-size-secondary: 2rem;
