.required {
    background-color: #FE0000;
    width: 414px;
    margin-top: 16px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #fff;
}

.quantity {
    background-color: #fff;
    color: #FE0000;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}