#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateRestaurantInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateRestaurantInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Restaurant SET $update WHERE id=$ctx.args.updateRestaurantInput.id", "SELECT * FROM Restaurant WHERE id=$ctx.args.updateRestaurantInput.id"]
}