.selected, .notSelected {
  display: flex;
  width: 96px;
  justify-content: center;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
  font-size: 12px;
}

.selected {
  background-color: #000000;
  border: solid 1px  #000000 ;
}

.notSelected {
  background-color: #ffffff;
  border: solid 1px  #000000 ;
}

.linkSelected {
  text-decoration: none;
  color:#ffffff;
}

.linkNotSelected {
  text-decoration: none;
  color:#000000;
}