.containerModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(81, 81, 81, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    width: 50vw;
    background-color: aliceblue;
}