.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 366px;
  height: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.containerMenuBrand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 183px;
  height: 120px;
}

.menuIcon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
}

.brand {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
}

.containerTableWaiter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 171px;
  height: 88px;
}

.waiter {
  display: flex;
  justify-content: flex-end;
  width: 24px;
  height: 32px;
  font-size: 16px;
  align-items: center;
}

.table {
  border: solid 1px #f31f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
}