.mesaSinEncontrar {
    background-color:rgb(175 175 175);
    text-decoration: none;
    color: #fff;
    padding: 0px 5px;
    margin-top: -10px;
}

.mesaEncontrada {
    background-color: red;
    text-decoration: none;
    color: #fff;
    padding: 0px 5px;
    margin-top: -10px;
}

