.ingresar {
    position: absolute;
    width: 62px;
    height: 19px;
    left: 174.69px;
    top: 551.09px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9759px;
    line-height: 19px;
    color: #000000;
}

.brand {
    width: 80%;
}

.mesaSinEncontrar {
    color: #fff;
    margin-top: 9px;
    background-color: #c2c2c2;
    order: 4;
    padding: 3px;
    text-decoration: none;
    text-align: center;
}

.mesaEncontrada {
    color: #fff;
    margin-top: 9px;
    background-color: #F32424;
    order: 4;
    padding: 3px;
    text-decoration: none;
    text-align: center;
}
