@import '../../../../styles/config';

.containerCardOrder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    border-top: solid $color-secondary 1px;
    height: 8rem;
  }
  
  .img {
    width: 20%;
  }
  
  .containerDescription {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .state {
    color: $color-four
  }