.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 366px;
  height: 184px;
  left: 24px;
  top: 280px;
  background-color: blue;
}

.cardsPlates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 366px;
  height: 160px;
  background-color: blueviolet;
  
}

.title {
  background-color: rgb(211, 255, 146);
  font-size: 16px;
  width: 366px;
  height: 24px;
}


/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  align-self: flex-start;
  padding: 10px;
}

.buttonRemove {
  margin: 0px 0px 0px 5px;
  color: rgb(77, 77, 77);
  font-size: 14px;
  cursor: pointer;
}

.agreggate {
  background-color: rgb(209, 209, 209);
  color: #fff;
  border: none;
  padding: 5px;
}

.notAgreggate {
  background-color: rgb(37, 204, 87);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}
 */