.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 23px 24px 24px;
  position: absolute;
  width: 414px;
  height: 48px;
  left: 0px;
  top: 208px;
  box-sizing: border-box;
}

.selected {
  border-bottom: 1px solid rgb(255, 152, 105);
  margin-top: 0px;
}

.notSelected {
  margin-top: 0px;
}