.header {
	font-size: 1.5rem;
}

.container {
	padding: 1rem 1rem;
}

.containerTable {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: solid 1px #000;
	margin-top: 2rem;
}

.link {
	margin-left: 0.5rem;
}
