.container {
  position: relative;
  width: 414px;
  height: 896px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerImgCategorieSelected {
  position: absolute;
  left: 24px;
  top: 279px;
}

.cardsPlates {
  position: absolute;
  left: 24px;
  top: 471px;
}
